<th:block th:fragment="dayOfWeekRadio(prefix,name,value, dayPrefix, day, dayCopy)" xmlns:th="http://www.thymeleaf.org">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" th:id="@{|${prefix}${dayPrefix}|}"
               th:name="${name}"
               th:checked="${value.name() == day}"
               th:value="${day}">
        <label class="form-check-label" th:for="@{|${prefix}${dayPrefix}|}" th:text="${#messages.msgOrNull(dayCopy)}"></label>
    </div>
</th:block>