<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script></script>
</head>
<body>
<main>
    <nav th:replace="~{bootstrap/_breadcrumbs :: breadcrumbs(${breadcrumbs})}"></nav>
    <a th:href="@{|/question/${question.id}/edit|}" th:text="#{question.edit}"></a>

    <h1 th:text="${question.title}"></h1>


    <th:block th:if="${answerForm}">
        <form th:replace="~{fieldset/form :: form(${answerForm})}"></form>
    </th:block>

</main>
</body>
</html>