<!doctype html>
<html lang="en" th:fragment="layout(title, script, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <title th:replace="${title}"></title>
    <script th:replace="${script}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/assets/css/screen.css" rel="stylesheet">

    <script type="module">
        import { Application, Controller } from "/webjars/hotwired__stimulus/3.2.1/dist/stimulus.js"
        window.Stimulus = Application.start()
        Stimulus.register("eventordercreate", class extends Controller {
            static targets = [ "eventId", "validForEventDateId", "priceBundleId", "quantity","firstName","lastName", "email", "emailRepeat", "postalCode", "birthDate"]
            reload() {
                const eventIdElement = this.eventIdTarget
                const eventId = eventIdElement.value

                const selectedValidForEventDateId = this.validForEventDateIdTargets.find(radio => radio.checked)
                const validForEventDateId = selectedValidForEventDateId.value

                const selectedPriceBundleOption = this.priceBundleIdTargets.find(radio => radio.checked)
                const priceBundleId = selectedPriceBundleOption.value

                const quantityElement = this.quantityTarget
                const quantity = quantityElement.value

                const firstNameElement = this.firstNameTarget
                const firstName = firstNameElement.value

                const lastNameElement = this.lastNameTarget
                const lastName = lastNameElement.value

                const emailElement = this.emailTarget
                const email = emailElement.value

                const emailRepeatElement = this.emailRepeatTarget
                const emailRepeat = emailRepeatElement.value

                const postalCodeElement = this.postalCodeTarget
                const postalCode = postalCodeElement.value

                const birthDateElement = this.birthDateTarget
                const birthDate = birthDateElement.value

                const url = "/event/"  + eventId + "/eventOrder/create/form"
                const data = {
                    eventId: eventId,
                    validForEventDateId: validForEventDateId,
                    priceBundleId: priceBundleId,
                    quantity: quantity,
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    emailRepeat: emailRepeat,
                    postalCode: postalCode,
                    birthDate: birthDate
                }

                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)})
                    .then(response => response.text())
                    .then(html => this.element.innerHTML = html)
            }
        })
    </script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark"  data-bs-theme="dark"  th:if="${security}">
    <div class="container-fluid bg-dark"  data-bs-theme="dark">
        <a class="navbar-brand" href="/">Concertados</a>
        <ul class="d-flex navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.users}"></a>
                <ul class="dropdown-menu">
                    <li><a  class="dropdown-item" th:href="@{/user/admins}" th:text="#{nav.users.admins}"></a></li>
                    <li><a  class="dropdown-item" th:href="@{/user/organizers}" th:text="#{event.access.organizers}"></a></li>
                    <li><a  class="dropdown-item" th:href="@{/user/observers}" th:text="#{event.access.observers}"></a></li>
                    <li><a  class="dropdown-item" th:href="@{/user/boxOfficeClerks}" th:text="#{event.access.boxOfficeClerks}"></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/event/list" th:text="#{nav.events}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/organizer/list" th:text="#{nav.organizers}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/location/list" th:text="#{nav.locations}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/eventOrder/me" th:text="#{nav.mytickets}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user/profile" th:text="#{nav.profile}"></a>
            </li>
            <li th:if="${logoutForm}">
                <form th:replace="~{fieldset/form :: form(${logoutForm})}"></form>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark"  data-bs-theme="dark" th:unless="${security}">
    <div class="container-fluid bg-dark"  data-bs-theme="dark">
        <a class="navbar-brand" href="/">Concertados</a>
        <ul class="d-flex navbar-nav bg-dark"  data-bs-theme="dark">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/user/auth" th:text="#{nav.login}"></a>
            </li>
        </ul>
    </div>
</nav>
<a href="/"><img src="/assets/images/concertados.svg" alt="Concertados" class="mx-auto d-block mt-5" width="320"/></a>
<div class="container mt-5 pt-3 pb-3 ps-3 pe-3" style="margin-bottom: 70px;">

    <div th:replace="${content}"></div>
</div>
<div class="fixed-bottom">
    <nav class="navbar navbar-expand-lg bg-dark"  data-bs-theme="dark">
        <div class="container bg-dark"  data-bs-theme="dark">
            <ul class="navbar-nav bg-dark"  data-bs-theme="dark">
                <li class="nav-item">
                    <a class="nav-link" href="/cookies" th:text="#{nav.cookies}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terms" th:text="#{nav.terms}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy" th:text="#{nav.privacy}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" th:text="#{nav.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/concertados" data-turbo="false">Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/Concertados/" data-turbo="false">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:info@concertados.com" data-turbo="false">Email</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>